:root {
  overflow-x: hidden;
}

.publications {
  width: 100%;
  padding: 30px;
  font-size: 0;
  background-color: #f5f5fa;

  @media screen and (min-width: 768px) {
    padding: 30px 60px;
  }

  @media screen and (min-width: 1920px) {
    padding: 30px 160px;
  }

  &-heading {
    @include font-white-bold;
    @include grad-text;
    font-size: 30px;
    line-height: 37px;
    margin: 3px 0 30px;

    @media screen and (min-width: 768px) {
      margin: 10px 0 30px;
      font-size: 38px;
      line-height: 46px;
    }
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  &__card {
    width: 100%;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;

    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
      align-self: stretch;
    }

    @media screen and (min-width: 1024px) {
      width: calc((100% - 60px) / 3);
    }
  }

  &__card:last-of-type {
    @media screen and (min-width: 768px) {
      flex-grow: 1;
    }

    @media screen and (min-width: 1024px) {
      flex-grow: 0;
    }
  }

  &__card:not(:last-of-type) {
    margin-bottom: 30px;

    @media screen and (min-width: 1024px) {
      margin-bottom: unset;
    }
  }

  .card-content {
    padding: 30px;
  }

  &__img {
    object-fit: cover;
    height: 200px;
  }

  &__title {
    display: block;
    @include font-black-bold;
    line-height: 20px;
    color: #24a3ff;
    transition: $default-transition;
  }

  &__title:hover {
    color: $hover-color;
  }

  &__date {
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #b3b3ba;
    margin: 15px 0;
  }

  &__preview {
    font-size: 14px;
    line-height: 22px;

    padding-top: 15px;
    border-top: 4px solid #e6e6f0;
  }
}

.publications-page {
  padding: 0 30px 30px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    padding: 0 60px 30px;
    margin-top: 60px;
  }

  @media screen and (min-width: 1920px) {
    padding: 0 160px 30px;
  }

  .toggle-wrap {
    display: flex;
    justify-content: center;

    .publications-toggle {
      background: #e6e6f0;
      border-radius: 12px;
      text-align: center;
      margin: 30px 0;
      display: inline-flex;
      position: relative;

      .toggle__btn {
        @include font-black-bold;
        font-family: Montserrat;
        color: #323264;
        padding: 10px 30px;
        background-color: unset;
        border: unset;
        z-index: 2;
        cursor: pointer;

        &_news {
          padding: 10px 32px;
        }
      }

      .toggle-switch {
        position: absolute;
        background-color: #fff;
        border: 2px solid #fff;
        border-radius: 10px;
        padding: 16px 56px;
        top: 2px;
        left: 2px;
      }
    }

    .toggle__btn_articles:focus ~ .toggle-switch {
      animation: publications-toggle_toRight 0.5s ease-in-out forwards;
    }

    @keyframes publications-toggle_toRight {
      0% {
        left: 2px;
      }

      100% {
        left: 113px;
      }
    }

    .toggle__btn_news:focus ~ .toggle-switch {
      animation: publications-toggle_toLeft 0.5s ease-in-out forwards;
    }

    @keyframes publications-toggle_toLeft {
      0% {
        left: 113px;
      }

      100% {
        left: 2px;
      }
    }
  }

  &__card:last-of-type {
    flex-grow: 0;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      margin-bottom: 30px;
    }
  }

  &__card:nth-child(1),
  &__card:nth-child(2),
  &__card:nth-child(3) {
    @media screen and (min-width: 1024px) {
      margin-bottom: 30px;
    }
  }

  .btn-link {
    align-self: center;
  }

  .publications-btn {
    @include font-white-bold;
    padding: 18px 30px;
    margin: 30px 0;
    background: #24a3ff;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      margin: 0 0 30px;
    }
  }
}
